
$color_icon : #eb1c24;
$color_font : #95233c;
$color_border : #952328;
$color_arrow-icon : #da9e36;
$rss-icon : #ffac12;
$linkdin-icon : #0177b5;
$twitter-icon : #11c1ff;
$facebook-icon : #5883e6 ;
$second : #1d1c1b;
