* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  direction: rtl;
  font-family: 'Sahel'; }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.margin-bottom {
  margin-bottom: 16px; }

.margin-top {
  margin-top: 16px; }

.margin-top-bt {
  margin: 16px 0; }

.padding-top {
  padding-top: 16px; }

.padding-bottom {
  padding-bottom: 16px; }

.padding-top-bt {
  padding: 16px 0; }

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px; }

.outer-wrapper {
  max-width: 1600px;
  margin: 0 auto; }

.block {
  display: block; }

.respansive-img {
  display: block;
  height: auto;
  width: 100%; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.global-box-detail {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #fff; }

.global-bottom-detail {
  box-shadow: 0px 1px 3px 0px rgba(120, 120, 120, 0.22);
  background-color: #fefefe; }

.global-title-section {
  color: #fff;
  background-color: #952328;
  border-radius: 7px;
  display: inline-block;
  padding: 4px 8px; }
  .global-title-section a {
    font-size: 0.7em;
    color: #fff; }
